.idea/
.build/*
composer.lock

/Resources/Private/Contrib/Libraries/**/*
!/Resources/Private/Contrib/Libraries/composer.json
!/Resources/Private/Contrib/Libraries/composer.lock
!/Resources/Private/Contrib/Libraries/autoload.php
/Resources/Private/Contrib/html_compress/**/*
/Export/*
